@font-face {
    font-family: 'Discord';
    font-style: normal;
    font-weight: normal;
    src: local('Discord'), url('/assets/fonts/Discord.woff2') format('woff2');
}    

@font-face {
    font-family: 'Whitney';
    font-style: normal;
    font-weight: normal;
    src: local('Whitney'), url('/assets/fonts/Whitney.woff') format('woff');
}    

body,html {
    background: #111218;
    color:white;
    font-family: 'Discord', sans-serif;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;    
    overflow: hidden;
}

.devcells-logo {
    width: 400px;
    height: 270px;
}

.button {
    background: #7289DA;
}
.button:hover {
    box-shadow: 0 3px 22px -7px rgb(122 144 220 / 70%);
    background: #869adf;
}

@media screen and (max-width: 800px) {
    body,html {
      width: 100%;
    }
    .devcells-logo {
        display:flex;
        margin: 0 auto;
        width: 250px;
        height: 160px;
    }
    
    .project-card {
        width: 60px;
        height: 30px;
    }
}
  


.projects {
    font-family: 'Whitney', sans-serif;
    color: white;
}

.projects h1 {
    font-size: 35px;
}

.project-card h1 {
    font-size: 30px;
}

.project-card {
    background: #212530;
    width: 250px;
    height: auto;
    padding: 3px 4px;
    margin: 15px;
    padding: 10px 10px;
    border-radius: 10px;
    transition: all .15s ease-in-out !important;
}

.project-card:hover {
    box-shadow: 0px 0px 6px 2px rgba(33,37,48, 0.6);
}

.brand-image {
    background: #212530;
    width: 200px;
    height: 200px;
    padding: 3px 4px;
    margin: 15px;
    border-radius: 10px;
    transition: all .15s ease-in-out !important;
}

.brand-image:hover {
    box-shadow: 0px 0px 10px 6px rgba(33,37,48, 0.6);
}

.brand-image-wordmark {
    background: #212530;
    width: 350px;
    height: 200px;
    padding: 3px 4px;
    margin: 15px;
    border-radius: 10px;
    transition: all .15s ease-in-out !important;
}

.brand-image-wordmark:hover {
    box-shadow: 0px 0px 10px 6px rgba(33,37,48, 0.6);
}

.brand-image-wordmark img {
    width: 450px;
    height: 120px;
}

.project-description {
    color: #b3b3b4;
}

.project-card h2 {
    font-size: 25px;
}


.footer a {
    color: #565a5f;
    transition: all .1s cubic-bezier(.25,.46,.45,.94);
}

.footer a:hover {
    color: #fff;
}

.projects-box {
    display:flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    border: 4px solid #191b24;
    border-radius: 20px;
    background: #111218;
}
::-webkit-scrollbar-track {
    background: #191b24;
    border: none;
}

.whitney {
    font-family: whitney !important;
}

.gr-text {
    color: #b3b3b4;
}

.team-card {
    width: 250px;
    margin: 10px;
    transition: all .15s ease-in-out !important;
    background: linear-gradient(90deg, rgba(53,54,68,1) 0%, rgba(41,41,61,1) 100%);
    color:white;
}

.team-card:hover {
    box-shadow: rgb(41 41 80 / 30%) 0px 2px 52px 0px
}
